// Include PT Sans with Cyrillic support from Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic&subset=latin,cyrillic);
@import "custom-variables"; // Must be before the Bootstrap stylesheets
@import "../bootstrap-sass-3.3.5/assets/stylesheets/bootstrap";

$container-margin: $jumbotron-padding * 1.5;
$white: #fff;
$loader-size: $jumbotron-padding * 0.58;

@mixin temperature-value-border($color){
    border: 1px solid $color;
}

@mixin animation($parameters){
    -webkit-animation: $parameters;
    animation: $parameters;
}

@mixin force-hardware-acceleration(){
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@mixin transform($parameters){
    -webkit-transform: $parameters;
    transform: $parameters;
}

header{

    @media (max-width: $screen-sm-max){
        text-align: center;
    }

    h1{
        margin-top: 0;

        a{
            color: inherit;
        }
    }

    .lead{
        font-size: $font-size-small;
    }

    .logo{

        @media (max-width: $screen-sm-max){
            margin-left: auto;
            margin-right: auto;
        }

        margin-bottom: $padding-large-vertical;
    }

}

.container{
    margin-top: $container-margin;
    margin-bottom: $container-margin;

    .panel-title{
        @extend .text-uppercase;
        @extend .text-center;
        font-size: $font-size-h4;
    }

    .page-header{
        margin-top: $jumbotron-padding/1.5;
    }
}

.logo{
    margin-right: $padding-large-horizontal + 5;
}

.info-block{

    @extend .text-center;

    .value{
        font-size: $font-size-h4;
        font-weight: $headings-font-weight;
        /*border-radius: $border-radius-base;*/
        /*padding-left: $padding-base-horizontal;*/
        /*padding-right: $padding-base-horizontal;*/
    }

    .description{
        display: block;
    }

    .hot{
        color: $brand-danger;
        /*@include temperature-value-border($brand-danger);*/
    }

    .warm{
        color: darken($brand-warning, 12%);
        /*@include temperature-value-border($brand-warning);*/
    }

    .cold{
        color: darken($brand-info, 10%);
        /*@include temperature-value-border($brand-info);*/
    }

}

.panel-open{
    color: $white;
    border-color: darken($brand-success, 13%);
    background: rgba(darken($brand-success, 15%), .8);
}

.panel-closed{
    color: $white;
    border-color: darken($brand-danger, 3%);
    background: rgba($brand-danger, .8);
}

.graph{
    position: relative;
    min-width: 100%;
    max-width: 100%;
}

.graph.devices{
    min-height: 300px;
    /*min-height: 298px;*/
}

.graph.temperature{
    min-height: 300px;
    /*min-height: 200px;*/
}

.btn-block{
    display: block;
}

.btns-call-to-action{
    @media (min-width: $screen-lg-min){
        .btn{
            margin-bottom: $padding-large-vertical;
        }
    }
    @media (max-width: $screen-md-max){
        .btn{
            margin-bottom: $padding-large-vertical * 2;
        }
    }
}

.glyphicon-text{
    margin-left: $padding-xs-horizontal;
}

.list-avatars{
    img{
        border-radius: $border-radius-small;
        max-width: $jumbotron-padding * 1.5;
    }
}

.list-related-pages{

    li {
        margin-bottom: $padding-base-vertical + 3;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
        li{
            display: inline-block;
            margin-bottom: 0;
            margin-left: $padding-base-vertical;
            margin-right: $padding-base-vertical;
        }
    }

    li:last-child{
        margin-bottom: 0;
    }
}

.figure-caption{
    @extend .text-muted;
    font-size: $font-size-small;
    padding: $padding-base-vertical $padding-base-vertical $padding-xs-vertical;
}

.modal{

    dd{
        margin-bottom: $padding-large-vertical;
    }
}

.list-pp10-legend{

    color: red;

    li{
        font-weight: 700;
        margin-top: $padding-base-vertical;
        margin-bottom: $padding-base-vertical;
    }

    span{
        vertical-align: text-top;
        display: inline-block;
        color: $text-color;
        font-weight: 400;
        margin-left: $padding-xs-horizontal;
    }
}

.panel-heading{
    line-height: $line-height-base;
}

/* https://damjan.softver.org.mk/status.spodeli.org/css/loader.css */
.loader {
    position: absolute;
    top: - $jumbotron-padding/2;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: visible;
    font-size: 80%;
    border-top: $loader-size solid rgba($gray-light, 0.2);
    border-right: $loader-size solid rgba($gray-light, 0.2);
    border-bottom: $loader-size solid rgba($gray-light, 0.2);
    border-left: $loader-size solid rgba($gray-light, 1);
    @include force-hardware-acceleration;
    @include animation(load8 1.1s infinite linear);

    &,
    &:after {
        border-radius: 50%;
        width: $jumbotron-padding * 4;
        height: $jumbotron-padding * 4;
    }
}

@-webkit-keyframes load8 {
    0% {
        @include transform(rotate(0deg));
    }
    100% {
        @include transform(rotate(360deg));
    }
}

@keyframes load8 {
    0% {
        @include transform(rotate(0deg));
    }
    100% {
        @include transform(rotate(360deg));
    }
}
/* ./ https://damjan.softver.org.mk/status.spodeli.org/css/loader.css*/

.tweets{

    position: relative;
    @media (min-width: $screen-md-min){
        min-height: 120px;
    }
    @media (max-width: $screen-sm-max){
        min-height: 90px;
    }

    background: transparent;
    box-shadow: none;

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
        padding-left: $padding-small-vertical;
        padding-right: $padding-small-vertical;
    }

    &:before{
        display: block;
        text-align: center;
        content: 'Tweets loading...';
        font-size: $font-size-large;
        color: $btn-default-border;
        position: absolute;
        z-index: -1;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: $jumbotron-padding;
    }

    .twitter-timeline{
        @media (min-width: $screen-md-min){
            max-height: 120px !important;
        }

        ul.tweet-controls{
            visibility: visible !important;
        }
    }
}

.github-corner:hover .octo-arm{
    animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave{
    0%,100%{transform:rotate(0)}
    20%,60%{transform:rotate(-25deg)}
    40%,80%{transform:rotate(10deg)}
}

@media (max-width:500px){
    .github-corner:hover .octo-arm{animation:none}
    .github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}
}

.text-small{
    font-size: $font-size-small;
}

footer{

    a{
        font-weight: 700;
        color: inherit;
    }
}