.panel {
  border: 1px solid @panel-default-border;
  border-radius: @border-radius-base;
}

.panel-success {
  border-color: lighten(@brand-success, 10%);
}

.panel-danger {
  border-color: lighten(@brand-danger, 10%);
}

.panel-open {
  color: @white;
  border-color: darken(@brand-success, 13%);
  background: fade(darken(@brand-success, 15%), 80%);
}

.panel-closed {
  color: @white;
  border-color: darken(@brand-danger, 3%);
  background: fade(@brand-danger, 80%);
}

.panel-controls {
  .text-right;
  .btn {
    margin-left: @padding-xs-horizontal;
  }
}

.panel-tumblr {
  background-color: @panel-default-heading-bg;
  position: relative;
  overflow: hidden;
  min-height: @panel-height;
  &:before {
    .loading-text('содржина од Tumblr');
    z-index: 0;
  }
}

.panel-heading {
  background: @panel-default-heading-bg;
  border-bottom: 1px solid @panel-default-border;
  padding: @grid-gutter-width/2;
}

.panel-body {
  margin: @grid-gutter-width;
  iframe{
    width: 100%;
  }
}

.panel-title {
  margin: 0;
  .align-self-center;
}
